//Core
@import "core/variables";
@import "core/mixins";

section.hero {
    padding: 160px 0 175px;

    @include response-max($laptop-landscape - 1) {
        padding: 128px 0 0;
    }

    .hero__body {
        max-width: 700px;
    }

    .subtitle {
        margin-bottom: 32px;
    }

    .about_us__img {
        object-fit: contain;
        object-position: bottom;

        @include response-min($laptop-landscape) {
            position: absolute;
            bottom: 0;
            left: 50%;
            max-width: 627px;
        }

        @include response-max($laptop-landscape - 1) {
            display: block;
            margin: 15px auto -5px;
            position: relative;
        }

        @include response-max($mobile) {
            max-width: calc(100% - 64px);
        }
    }
}

.ach__row {
    .head {
        max-width: 420px;

        .subtitle {
            margin-bottom: 0;
        }
    }

    @include response-min($laptop-landscape) {
        display: flex;
        gap: 20px;
        justify-content: space-between;

        .head {
            text-align: left;
            margin: 0;
        }
    }

    @include response-max($laptop-landscape - 1) {
        .head {
            margin-bottom: 24px;

            .subtitle {
                font-size: 15px;
            }
        }
    }
}

.ach__content {
    @include response-min($laptop-landscape) {
        max-width: 608px;
    }
}

.ach__list {
    display: flex;
    margin-bottom: 45px;

    @include response-max($laptop-landscape - 1) {
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 24px;
    }
}

.ach__item {
    strong {
        display: block;
        font-size: 28px;
        margin-bottom: 26px;
        color: $color-dark;
    }

    p {
        font-weight: 500;
        color: $color-dark-light;
        margin: auto 0 0;
    }

    @include response-min($laptop-landscape) {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        padding: 15px 24px 0;
        border-left: 1px solid $color-dark;
    }
    
    @include response-max($laptop-landscape - 1) {
        text-align: center;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        strong {
            font-size: 42px;
            font-weight: 700;
            margin-bottom: 8px;
        }

        p {
            font-size: 12px;
            color: $color-dark;
        }
    }
}

.ach__text {
    p {
        color: $color-dark-light;
        font-size: 19px;
        font-weight: 400;
        line-height: 1.4;
    }

    @include response-max($laptop-landscape - 1) {
        p {
            font-size: 14px;
            color: $color-dark;
        }
    }
}

.mission__row {
    display: flex;
    gap: 24px;
    position: relative;

    @include response-min($laptop-landscape) {
        & > * {
            width: 50%;
        }
    }
}

.mission__img {
    img {
        object-fit: contain;
    }

    @include response-max($laptop-landscape - 1) {
        display: none;
    }
}

.mission__title {
    text-transform: uppercase;

    @include response-max($laptop-landscape - 1) {
        text-align: center;
    }
}

.mission__text {
    p {
        font-size: 19px;
        line-height: 1.4;

        &:not(:last-child) {
            margin-bottom: 32px;
        }

        &:last-child {
            margin: 0;
        }
    }

    @include response-max($laptop-landscape - 1) {
        p {
            font-size: 14px;

            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }
}