//Core
@import "core/variables";
@import "core/mixins";

.hero__bg_img {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    max-height: 100%;
}

.most_popular__title {
    margin-bottom: 32px;
    @include font-color-main;
}

.card_simple__cat {
    span {
        padding: 2px 8px;
        font-size: 16px;
        font-weight: 500;
    }
}

.most_popular__posts_wrap {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(2, 1fr);

    .card_simple {
        max-width: none;
        width: 100%;
        background: #E3E3E3;
        backdrop-filter: blur(43.5px);
        min-height: auto;
    }

    .card_simple__title {
        font-size: 24px;
        font-weight: 500;
        color: $color-dark;
    }

    .card_simple__time {
        color: $color-dark-light;
    }

    .card_simple__date {
        color: $color-dark-light;
    }

    .card_simple__img {
        flex: 1 1 50%;
    }

    .card_simple__body {
        flex: 1 1 50%;
    }
}

.most_popular__slider .full_image {
    .card_simple__body {
        display: flex;
        flex-direction: column;
    }

    .card_simple__cat {
        span {
            color: $color-dark;
            background-color: $color-light;
        }
    }
}


