//Core
@import "core/variables";
@import "core/mixins";

.archive {
   .hero {
       padding-bottom: 30px;
   }
}

.page-template-blog {
    @include response-min($laptop-landscape) {
        .hero {
            padding: 143px 0 71px;

            .hero__body {
                padding: 0;
            }

            h1 {
                font-size: 60px;
                margin-bottom: 16px;
            }
        }

        .cta {
            padding-top: 128px;
        }
    }
}

.hero__bg_img {
    position: absolute;
    max-height: 100%;

    &.desk_ver {
        right: 0;
        top: 0;
        transform: translate(20%, -15%);
    }

    &.mob_ver {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        img {
            object-fit: cover;
        }
    }
}

.most_popular__title {
    margin-bottom: 32px;
    @include font-color-main;
}

.card_simple__cat {
    span {
        color: $color-dark;
        background-color: $color-light;
    }
}

.most_popular__posts_wrap {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(2, 1fr);

    .card_simple {
        max-width: none;
        width: 100%;
        min-height: auto;

        @include response-min($desktop) {
            max-height: 212px;
        }
    }

    .card_simple__title {
        font-size: 24px;
    }

    .card_simple__img {
        flex: 1 1 50%;
    }

    .card_simple__body {
        flex: 1 1 50%;
    }

    @include response-min($desktop) {
        .card_simple__title {
            @include line-break(3);
        }
    }
}

.most_popular__slider .full_image {
   .card_simple__cat {
        span {
            color: $color-dark;
            background-color: $color-light;
        }
    }
}

.recent_posts {
    background-color: #000;

    .title {
        color: $color-light;
    }
}

.recent_posts__head_wrap {
    margin: 32px -32px;
    overflow-x: auto;
    @include hide-scrollbar;
}

.recent_posts__head {
    display: flex;
    column-gap: 24px;
    row-gap: 16px;
    padding: 0 32px;

    & > *:last-child {
        margin-right: 32px;
    }

    @include response-min($desktop) {
        flex-wrap: wrap;
    }
}

.recent_posts__cat {
    padding: 12px 24px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 32px;
    background: linear-gradient(125deg, rgba(255, 255, 255, 0.20) 0%, rgba(227, 227, 227, 0.20) 100%);
    transition: $transition;
    display: flex;
    align-items: center;
    white-space: nowrap;
    height: 50px;

    svg {
        display: none;
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }

    &:not(.active-cat) {
        @include pointer;

        @include response-min($desktop) {
            &:hover {
                color: $color-theme;
                border-color: $color-theme;
                background: $color-light;
            }
        }
    }

    &.active-cat {

        svg {
            display: block;
        }
    }
}

.recent_posts__close {
    display: none;
    background: linear-gradient(125deg, rgba(255, 255, 255, 0.20) 0%, rgba(227, 227, 227, 0.20) 100%);
    transition: $transition;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    position: relative;
    white-space: nowrap;
    flex-shrink: 0;
    @include pointer;

    svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
    }

    @include response-min($desktop) {
        &:hover {
            opacity: 0.7;
            transform: scale(0.9);
        }
    }
}

.recent_posts__btn {
    display: none;
    max-width: 244px;
    width: 100%;

    @include response-max($laptop-landscape) {
        min-width: fit-content;
    }
}

.recent_posts__list {
    display: grid;
    grid-gap: 24px;

    .card_simple {
        margin: 0;
        width: 100%;
    }

    .no-posts-message {
        grid-column: span 3;
        margin: 30px 0;
    }

    @include response-min($laptop-portrait) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include response-max($laptop-portrait) {
        .card_simple {
            max-width: 100%;
        }
    }

    @include response-min($laptop-landscape) {
        grid-template-columns: repeat(3, 1fr);

        .card_simple {
            max-width: none;
            min-height: 500px;

            &:first-child {
                grid-column: 1 / span 2;
            }

            &:nth-child(n + 3) {
                .card_simple__img {
                    height: 260px;
                    flex-shrink: 0;
                }
            }
        }

        .card_right_content {
            .card_simple__img {
                width: 100%;
                flex-shrink: 1;
            }

            .card_simple__cat {
                span {
                    color: $color-dark;
                    background-color: $color-light;
                }
            }

            .card_simple__body {
                flex: 1 0 318px;
            }
        }
    }
}

.archive__posts {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, 1fr);

    .card_simple {
        margin: 0;
        max-width: 100%;
        width: 100%;
        background: $color-dark-light;
    }

    .card_simple__img {
        height: 260px;
        flex-shrink: 0;
    }

    @include response-max($laptop-landscape - 1) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include response-max($mobile) {
        grid-template-columns: repeat(1, 1fr);
    }
}