//Core
@import "core/variables";
@import "core/mixins";

.archive {
   .hero {
       padding-bottom: 30px;
   }
}

body.archive {
    .cta {
        padding-top: 128px;
    }

    .hero {
        padding-bottom: 0;
    }
}

.page-template-blog {
    @include response-min($laptop-landscape) {
        .hero {
            padding-bottom: 55px;

            .hero__body {
                padding: 0;
            }

            h1 {
                margin-bottom: 16px;
            }
        }

        .cta {
            padding-top: 128px;
        }
    }
}

.hero__bg_img {
    position: absolute;
    max-height: 100%;

    &.desk_ver {
        right: 0;
        top: 0;
        transform: translate(20%, -15%);
    }

    &.mob_ver {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        img {
            object-fit: cover;
        }
    }
}

.most_popular__title {
    margin-bottom: 32px;
    @include font-color-main;
}

.card_simple__cat {
    span {
        color: $color-dark;
        background-color: $color-light;
    }
}

.most_popular__posts_wrap {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(2, 1fr);

    .card_simple {
        max-width: none;
        width: 100%;
        min-height: auto;

        @include response-min($desktop) {
            height: 212px;
        }
    }

    .card_simple__title {
        font-size: 22px;
    }

    .card_simple__img {
        flex: 1 1 50%;
    }

    .card_simple__body {
        flex: 1 1 50%;
    }

    @include response-min($desktop) {
        .card_simple__title {
            @include line-break(3);
        }
    }
}

.most_popular__slider {
    .card_simple {
        @include response-max($laptop-landscape) {
            height: 412px;
        }
    }

    .full_image {
        .card_simple__cat {
            span {
                color: $color-dark;
                background-color: $color-light;
            }
        }
    }
}

.recent_posts {
    background-color: #000;

    .title {
        color: $color-light;
    }
}

.recent_posts__head_wrap {
    margin: 32px -32px;
    overflow-x: auto;
    @include hide-scrollbar;

    @include response-max($mobile) {
        margin-bottom: 24px;
    }
}

.recent_posts__head {
    display: flex;
    gap: 12px 16px;
    padding: 0 32px;

    & > *:last-child {
        margin-right: 32px;
    }

    @include response-min($desktop) {
        flex-wrap: wrap;
    }
}

.recent_posts__cat {
    padding: 10px 16px 8px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 32px;
    background: rgba(255, 255, 255, .2);
    transition: $transition;
    display: flex;
    align-items: center;
    white-space: nowrap;
    @include pointer;

    svg {
        display: none;
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }

    @include response-min($desktop) {
        &:hover {
            color: $color-theme;
            border-color: $color-theme;
            background: $color-light;
        }
    }

    &.active-cat {
        svg {
            display: block;
        }
    }

    &:first-child {
        &.active-cat {
            pointer-events: none;
        }
    }
}

.recent_posts__btn {
    display: none;
    max-width: fit-content;
    width: 100%;
    font-size: 14px;
    margin-bottom: 24px;
    padding: 12px;

    @include response-min($laptop-portrait) {
        min-width: fit-content;
    }
}

.recent_posts__list {
    display: grid;
    grid-gap: 24px;

    .card_simple {
        margin: 0;
        width: 100%;
    }

    .no-posts-message {
        grid-column: span 3;
        margin: 30px 0;
    }

    @include response-min($laptop-portrait) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include response-max($laptop-portrait) {
        .card_simple {
            max-width: 100%;
            min-height: 412px;
        }
    }

    @include response-min($laptop-landscape) {
        grid-template-columns: repeat(3, 1fr);

        .card_simple {
            max-width: none;
            min-height: 410px;

            &:first-child {
                grid-column: 1 / span 2;
            }

            &:nth-child(n + 3) {
                .card_simple__img {
                    height: 260px;
                    flex-shrink: 0;
                }
            }
        }

        .card_right_content {
            .card_simple__img {
                width: 100%;
                flex-shrink: 1;
            }

            .card_simple__cat {
                span {
                    color: $color-dark;
                    background-color: $color-light;
                }
            }

            .card_simple__body {
                flex: 1 0 318px;
            }
        }
    }
}

.archive__posts {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, 1fr);

    .card_simple {
        margin: 0;
        max-width: 100%;
        width: 100%;
        background: $color-dark-light;
    }

    .card_simple__img {
        height: 260px;
    }

    @include response-max($laptop-landscape - 1) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include response-max($mobile) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.most_popular__pagination {
    @include response-max($mobile) {
        margin-top: 45px;
    }
}