//Core
@import "core/variables";
@import "core/mixins";

.case_studies {
    .section_bg {
        object-position: center 170px;
        object-fit: contain;
    }

    .container {
        position: relative;
    }

    @include response-min($laptop-landscape) {
        padding: 160px 0 200px;
    }

    @include response-max($laptop-landscape - 1) {
        padding-top: 128px;

        .section_bg {
            object-position: center 109px;
        }
    }
}

.case_studies__table {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    overflow: hidden;

    .table__body {
        .table__row {
            &:last-child {
                border-bottom: 1px solid #333;
            }
        }
    }
}

.table__footer {
    position: relative;
    height: 56px;

    @include response-min($laptop-portrait) {
        display: none !important;
    }
}

.table__show_more {
    position: absolute;
    left: 24%;
    top: 50%;
    transform: translateY(-50%);
}

.table__wrap {
    margin-right: 0;
    padding-right: 0;
}

.table__body {
    @include response-max($mobile) {
        height: 290px;
        overflow: hidden;
    }
}

.table {
    &.full_content {
        .table__body {
            height: auto;
        }

        .table__show_more {
            svg {
                transform: rotate(-180deg);
            }
        }
    }
}