//Core
@import "core/variables";
@import "core/mixins";

.hero_section {
    position: relative;
    overflow: hidden;
    height: 100vh;

    .container {
        position: relative;


        @include response-max($laptop-portrait) {
            height: 100%;
        }
    }
}

.hero__content {
    position: relative;
    margin: 0 auto;
    z-index: 2;
    text-align: center;
    padding-top: 20vh;

    & > *:not(:last-child) {
        margin-bottom: 32px;
    }

    @include response-max($laptop-portrait) {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @include response-max($mobile) {
        .hero__btn {
            width: 100%;
        }
    }
}

.hero__bg_main {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero__images {
    img {
        width: auto;
        height: auto;
        object-fit: contain;
    }
}

.hero__bg_earth {
    max-width: 1200px;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -27%;
    z-index: 1;
    object-fit: contain;

    @include response-max($laptop-portrait) {
        bottom: -50px;
    }
}

.hero__bg_spaceman {
    position: absolute;
    max-height: 84vh;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    z-index: 2;
    object-fit: contain;

    @include response-max($laptop-portrait) {
        bottom: unset;
        top: 25px;
        max-width: 80vw;
    }
}

.hero__bg_fly_left {
    @include response-min($header-responsive + 1) {
        position: absolute;
        left: 76px;
        top: 5vh;
        width: 150px;
        height: 125px;
        object-fit: contain;
    }

    @include response-max($header-responsive) {
        display: none;
    }
}

.hero__bg_fly_right {
    @include response-min($header-responsive + 1) {
        position: absolute;
        right: 53px;
        top: 20vh;
        width: 150px;
        height: 150px;
        object-fit: contain;
    }

    @include response-max($header-responsive) {
        display: none;
    }
}

.hero__title {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    font-size: 64px;
    font-weight: 800;
    line-height: 77px;
    text-transform: uppercase;

    span {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;
        color: transparent;
    }

    @include response-max($laptop-portrait) {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 16px;
    }
}

.hero__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    max-width: 604px;
    margin-left: auto;
    margin-right: auto;

    @include response-max($laptop-portrait) {
        font-size: 15px;
    }
}

.hero__subtitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.06em;
    margin-top: 30px;

    @include response-max($laptop-portrait) {
        margin-top: auto;
    }
}

.hero__partners {
    display: flex;
    justify-content: center;
    column-gap: 38px;
    row-gap: 15px;
    flex-wrap: wrap;

    img {
        max-height: 30px;
        object-fit: contain;
        filter: brightness(0) invert(1);
    }

    @include response-max($laptop-portrait) {
       .hero__partner {
            width: calc(100% / 3 - 38px);
        }
    }
}

.how_we_work__wrap {
    margin-top: 64px;
}

.how_we_work {
    background-color: rgba(242, 242, 242, 1);
}

.how_we_work__title {
    @include font-color-main;
}

.how_we_work__subtitle {
    font-size: 19px;
    font-weight: 400;
    line-height: 26px;
    color: $color-font-dark;
    max-width: 592px;
}

.how_we_work__slider {
    margin: 0 -12px;
}

.card_planet__img {
    position: absolute;
    top: -20%;
    z-index: 2;

    img {
        z-index: 2;
    }

    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 300px;
        border-radius: 50%;
        overflow: hidden;
        z-index: 1;
        box-shadow: 0 0 70px 25px rgba(119, 76, 222, 1);
    }
}

.card_planet {
    max-width: 292px;
    min-height: 412px;
    width: 100%;
    margin: 0 12px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    background: rgb(18, 18, 18);
    display: flex;

    &:nth-child(1), &:nth-child(2) {
        .card_planet__img {
            right: -40%;
        }
    }

    &:nth-child(3), &:nth-child(4) {
        .card_planet__img {
            left: -40%;
        }
    }
}

.card_planet__body {
    color: $color-font;
    padding: 24px;
    margin-top: auto;
}

.card_planet__title {
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    margin-bottom: 16px;
}

.card_planet__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}