//Core
@import "core/variables";
@import "core/mixins";

//Parts
@import "pages/home/hero";
@import "pages/home/how-we-work";
@import "pages/home/case-studies";
@import "pages/home/pr-service";
@import "pages/home/services";


@include response-min($laptop-landscape) {
    .card_right_content {
        max-width: 735px;
        width: 100%;

        .card_simple__img {
            max-width: 445px;
            width: 100%;
        }

        .card_simple__cat {
            span {
                color: $color-dark;
                background-color: $color-light;
            }
        }
    }
}

.card_simple {
    &.full_image {
        .card_simple__cat {
            span {
                color: $color-light;
                background-color: $color-dark;
            }
        }
    }
}

@include response-min($desktop) {
    .blog__slider {
        .card_simple {
            &:not(.card_right_content) {
                max-width: 335px;
                width: 100%;
            }
        }
    }
}

section.how_we_work, section.services {
    @include response-min(1180px) {
        .card_simple {
            &:not(:last-child) {
                margin-right: 18px;
            }
        }
    }

    @include response-min($desktop) {
        .swiper-wrapper {
            padding: 5px 0;
        }
    }

    .card_simple {
        max-width: 264px;
        width: 100%;
    }
}

section.pricing {
    .swiper__nav {
        .swiper__nav_item {
            svg {
                filter: brightness(1) invert(1);
            }
        }
    }

    .container {
        position: relative;
    }
}

.pricing_planet_img {
    position: absolute;

    &:after {
        content: '';
        position: absolute;
        background: #B06CE4;
        filter: blur(100px);
    }

    img {
        position: relative;
        z-index: 1;
    }

    &:nth-of-type(1) {
        width: 187px;
        height: 187px;
        right: 0;
        top: 28px;
        transform: translateX(40%);

        &:after {
            left: 50%;
            transform: translate(-70%, -15%);
            top: 50%;
            width: 300px;
            height: 300px;
            border-radius: 30%;
        }
    }

    &:nth-of-type(2) {
        width: 291px;
        height: 291px;
        left: 0;
        bottom: 28px;
        transform: translateX(-40%);

        &:after {
            left: 50%;
            transform: translate(-50%, -50%);
            top: 50%;
            width: 400px;
            height: 400px;
            border-radius: 50%;
        }
    }

    @include response-max($laptop-landscape - 1) {
        display: none;
    }
}