.card_simple {
    max-width: 292px;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    background: rgb(18, 18, 18);
    display: flex;
    flex-direction: column;
}

.card_simple__body {
    color: $color-light;
    padding: 20px 20px 24px;
    position: relative;
    z-index: 4;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: $transition;
}

.card_simple__img {
    flex-shrink: 0;

    img {
        object-fit: cover;
    }
}

.card_simple__title {
    font-size: 24px;
    line-height: normal;
    margin-bottom: 12px;
    position: relative;
    font-weight: 500;
    transition: $transition;

    @include response-max($laptop-portrait) {
        font-size: 26px;
    }
}

.card_simple__text {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    position: relative;
    transition: $transition;
}

.card_simple__date {
    font-size: 15px;
    line-height: normal;
    text-align: right;
    margin-top: auto;
    transition: $transition;

    @include response-max($mobile) {
        font-size: 12px;
    }
}

.card_simple__cat {
    span {
        position: relative;
        display: inline-block;
        padding: 4px 12px;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        color: $color-dark;
        background-color: $color-light;
        border-radius: 32px;
        transition: $transition;
    }

    @include response-min($desktop) {
        &:hover {
            opacity: 0.7;
        }
    }
}

.card_simple__time {
    font-size: 15px;
    color: $color-light;
    transition: $transition;

    @include response-max($mobile) {
        font-size: 12px;
    }
}

.blog_section {
    .card_simple {
        height: auto;
    }

    .card_simple__img {
        height: 226px;

        img {
            object-fit: cover;
        }
    }
}

@include response-min($laptop-landscape) {
    .card_right_content {
        flex-direction: row;

        .card_simple__img {
            height: auto;
        }

        .card_simple__body {
            margin-top: 0;
            display: flex;
            flex-direction: column;
        }

        .card_simple__date {
            margin-top: auto;
            text-align: right;
        }
    }
}

.how_we_work__slider {
    .card_simple__body {
        &:after {
            content: none !important;
        }
    }

    .card_simple {
        min-height: 340px;

        .card_simple__text {
            height: 80px;
            transition: $transition;
            overflow: hidden;
            text-overflow: ellipsis;
            @include line-break(4);
        }

        @include response-min($desktop) {
            transform: scale(1);
            transform-origin: left;
            transition: $transition;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: $transition;
                z-index: 1;
                background: linear-gradient(105deg, #7059FF 22.14%, #7B41C4 89.55%);
            }

            &:hover {
                transform: scale(1.02) !important;

                &:after {
                    opacity: 1;
                }

                .card_simple__img {
                    &:after {
                        box-shadow: 0 0 70px 25px #ceb9ff;
                    }
                }

                .card_simple__text {
                    height: auto;
                    min-height: 80px;
                    -webkit-line-clamp: 10;
                }
            }
        }
    }
}

.card_simple {
    &.card_right_content, &:not(.full_image) {
        .card_simple__body {
            & > * {
                z-index: 2;
                position: relative;
            }

            @include response-min($desktop) {
                @include hover-gradient(linear-gradient(105deg, #7059FF 22.14%, #7B41C4 89.55%), blur(43.5px));
            }
        }

        @include response-min($desktop) {
            &:hover {
                .card_simple__body {
                    &:after {
                        opacity: 1;
                    }

                    .card_simple__title, .card_simple__text, .card_simple__date, .card_simple__time {
                        color: #EBEBF0;
                    }

                    .card_simple__cat {
                        span {
                            color: $color-dark;
                            background-color: $color-light;
                        }
                    }
                }
            }
        }
    }

    &.full_image {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: auto;

        .card_simple__title {
            margin-top: auto;
        }

        .card_simple__img {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;

            img {
                object-fit: cover;
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 58.78%, rgba(0, 0, 0, 0.70) 100%);
                z-index: 1;
            }
        }

        .card_simple__date {
            margin-top: 0;
        }

        @include response-min($desktop) {
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(105deg, rgba(112, 89, 255, 0.30) 22.14%, rgba(123, 65, 196, 0.30) 89.55%), linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 58.78%, rgba(0, 0, 0, 0.70) 100%);
                z-index: 2;
                opacity: 0;
                transition: $transition;
            }

            &:hover {
                &:before {
                    opacity: 1;
                }
            }
        }
    }

    &.white_bg {
        background: #E3E3E3;
        backdrop-filter: blur(43.5px);

        .card_simple__title {
            color: $color-dark;
        }

        .card_simple__time {
            color: $color-dark-light;
        }

        .card_simple__date {
            color: $color-dark-light;
        }

        .card_simple__cat {
            span {
                color: $color-light;
                background-color: $color-dark;
            }
        }
    }
}