[id=header] {
    width: 100%;
    position: fixed;
    top: 24px;
    left: 0;
    z-index: 10;

    .container {
        max-width: 1198px;

        @include response-max($header-responsive) {
            padding: 0 16px;
        }
    }

    a {
        color: $color-light;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        white-space: nowrap;
    }

    @media (max-width: $header-responsive) {
        transition: $transition;

        .header__menu {
            width: 100vw;
            height: 100vh;
        }
    }

    @include response-max($laptop-portrait) {
        top: 0;
        padding: 16px 0;
    }
}

.header__row {
    @include flex-center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-radius: 48px;
    transition: $transition;

    @include response-max($header-responsive) {
        padding: 20px 16px;
    }
}

[id=header] {
    transition: $transition;
    padding-top: 0;

    &._scrolled {
        padding-top: 16px;

        .header__row {
            background: linear-gradient(149deg, rgba(101, 101, 101, 0.30) 0%, rgba(37, 37, 37, 0.30) 100%);
            backdrop-filter: blur(16px);
        }
    }
}

.header__menu {
    position: relative;
    width: 100%;

    ul {
        @include flex-center;

        li {
            padding: 0 16px 2px;
            transition: $transition;
            border-bottom: 1px solid transparent;
            margin-bottom: 0;

            &.menu-item-btn {
                padding-bottom: 0;

                @include response-min($header-responsive) {
                    margin-left: auto;
                    height: 40px;
                    padding-right: 0;
                }

                a {
                    @extend .btn_primary;

                    @include response-max($header-responsive) {
                        min-width: 296px;
                    }

                    @include response-min($header-responsive + 1) {
                        padding: 13px 16px 11px;
                        min-width: 155px;
                        font-size: 14px;
                    }
                }
            }

            @include response-min($desktop) {
                &:not(.menu-item-btn):not(.current-menu-item):hover {
                    border-color: $color-light;
                }
            }

            @include response-min($header-responsive + 1) {
                &:first-child {
                    margin-left: auto;
                }
            }

            &.current-menu-item {
                a {
                    text-decoration: none;
                    pointer-events: none;
                    color: rgba(207, 0, 218, 1);
                }

                border-color: rgba(207, 0, 218, 1);
            }
        }
    }

    @include response-max($header-responsive) {
        display: none;
        padding: 160px 15px 50px 15px;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        background-color: #1a0330;

        .menu {
            flex-direction: column;
            text-align: center;

            li {
                &:not(:last-child) {
                    margin-bottom: 16px;
                }

                a {
                    padding: 16px 24px;
                }

                &.menu-item-btn {
                    margin-top: 48px;
                    max-width: 296px;
                    width: 100%;
                }
            }
        }
    }

    @include response-max($mobile) {
        .menu {
            li {
                &:not(:last-child) {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.header__menu_bg {
    display: none;
    z-index: -1;

    @media (max-width: $header-responsive) {
        display: block;
    }
}

.header__burger, .header__logo {
    z-index: 11;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 3px;
    height: 16px;

    .logo_icon {
        height: 16px;
    }

    .custom-logo-link {
        display: block;
        height: 100%;
        line-height: 0;
    }

    &.clicked {
        pointer-events: none;

        .logo_icon {
            animation: rotating 0.5s linear infinite;
        }
    }
}

.header__burger {
    @include response-min($header-responsive) {
        display: none;
    }

    @include pointer;

    max-width: 20px;
}

.header_close_icon {
    display: none;
    width: 16px;
    height: 18px;
    position: absolute;
    bottom: 37px;
    left: 50%;
    transform: translateX(-50%);
    @include pointer;
}

[id=header] {
    &.active-menu {
        .header_close_icon {
            display: block;
            animation: fadeId $transition;
        }

        .header__menu {
            display: block;
            animation: fadeId $transition;
        }
    }

    &:not(.active-menu) {
        .header_burger_icon {
            display: block;
            animation: fadeId $transition;
        }
    }
}