.modal_window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(149deg, rgba(101, 101, 101, 0.20) 0%, rgba(37, 37, 37, 0.20) 100%);
    backdrop-filter: blur(43.5px);
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active-popup {
        opacity: 1;
        visibility: visible;
    }
}

.modal_window__bg {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
}

.modal_window__img {
    border-radius: 16px 0px 0px 16px;
    background: linear-gradient(105deg, #7059FF 22.14%, #7B41C4 89.55%);
    position: relative;
    width: 398px;

    img {
        object-fit: contain;
        z-index: 1;
        position: absolute;
        right: 24px;
        bottom: 0;
        width: 100%;
        height: auto;
    }

    @include response-max($laptop-landscape - 1) {
        display: none;
    }
}

.modal_window__wrap {
    position: relative;
    z-index: 102;

    &::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    &::-webkit-scrollbar-track {
        background: rgba(33,12,66,.9);
    }

    &::-webkit-scrollbar-thumb {
        background: #fff;
    }

    @include response-min($laptop-landscape) {
        display: flex;
        height: 674px;
    }

    @include response-max($laptop-landscape - 1) {
        max-width: 360px;
        overflow-y: auto;
    }

    @media (max-width: 550px) {
        width: 100%;
    }
}

.modal_window__body {
    border-radius: 0 16px 16px 0;
    padding: 24px 34px;

    @include response-min($laptop-landscape) {
        max-width: 340px;
        flex-shrink: 0;
        background: linear-gradient(149deg, rgba(217, 217, 217, 0.20) 1.16%, rgba(115, 115, 115, 0.20) 99.16%);
        backdrop-filter: blur(12px);
    }

    @include response-max($laptop-landscape - 1) {
        border-radius: 16px;
    }

    @media (max-width: $mobile) {
        padding: 22px 18px;
        width: 100%;
    }
}

.modal_window__title {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 16px;
    text-transform: capitalize;
    color: $color-light;
    text-align: center;

    span {
        @include font-style-transparent;
    }
}

.modal_window__subtitle {
    font-size: 19px;
    line-height: 1.4;
    margin-bottom: 34px;
    text-align: center;
}

.modal_window__icon_close {
    width: 24px;
    height: 24px;
    margin: 0 auto;
    @include pointer;

    @include response-min($laptop-landscape) {
        display: none;
    }
}