.pricing {
    overflow-x: hidden;

    .container, .swiper {
        overflow: visible;
    }

    .swiper__nav {
        justify-content: flex-end;

        @include response-max($mobile) {
            margin-bottom: 60px;
        }
    }

    .section_bg {
        object-position: right top;
    }
}

.pricing_item {
    width: 292px;
    height: auto;
    border: 1px solid #737373;
    background: linear-gradient(149deg, rgba(217, 217, 217, 0.20) 1.16%, rgba(115, 115, 115, 0.20) 99.16%);
    backdrop-filter: blur(12px);
    border-radius: 16px;

    &.white_theme {
        border: 1px solid #313131;
        background: linear-gradient(149deg, rgba(217, 217, 217, 0.20) 1.16%, rgba(115, 115, 115, 0.20) 99.16%);
    }

    &.pricing-highlighted {
        background: linear-gradient(170.37deg, #7059FF 0%, #7B41C4 100%);
    }

    &.pricing-highlighted, &.white_theme {
        .pricing_item__name {
            span {
                color: $color-dark;
                background-color: $color-light;
            }
        }

        *:not(.btn_light) {
            color: $color-light;
        }

        .pricing_item__link {
            background: none;
            -webkit-text-fill-color: unset;
        }

        .pricing_item__val {
            svg {
                filter: brightness(0) invert(1);
            }
        }
    }
}

.pricing_item_body {
    padding: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pricing_item__name {
    position: relative;
    margin-bottom: 16px;

    span {
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        background-color: $color-dark;
        color: $color-light;
        padding: 4px 12px;
        border-radius: 32px;
    }

    img {
        position: absolute;
        right: 0;
        top: 0;
        height: 42px;
        width: auto;
        object-fit: contain;
    }
}

.pricing_item__price {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    color: $color-dark;
    padding-bottom: 12px;
    border-bottom: 1px solid $color-dark;
    margin-bottom: 16px;

    span {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
        color: $color-dark-light;
    }
}

.pricing_item__btn {
    margin-bottom: 16px;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.pricing_item__val {
    font-size: 16px;
    line-height: 1.2;
    color: $color-dark;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    column-gap: 10px;

    svg {
        width: 15px;
        height: 15px;
    }
}

.pricing_item__list {
    margin-bottom: 32px;

    li {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 18px;
        color: $color-dark-light;

        svg {
            width: 18px;
            height: 19px;
            margin-right: 10px;
            flex-shrink: 0;
        }

        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }
}

.pricing_item__link {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    line-height: 18.15px;
    margin-top: auto;
    @include font-color-main;
}

.pricing__cta {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.pricing__cta_body {
    position: relative;
    border-radius: 50px;
    padding: 12px 12px 12px 24px;
    background: linear-gradient(105.43deg, #7059FF 22.14%, #7B41C4 89.55%);

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    & > * {
        z-index: 1;
    }

    @include response-min($desktop) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 27px;

        &:before {
            background: url('../img/pricing-cta-bg.svg') center / cover no-repeat;
        }
    }

    @include response-max($laptop-landscape) {
        text-align: center;
        padding: 20px 16px;

        &:before {
            background: url('../img/pricing-cta-bg-mob.svg') center / cover no-repeat;
        }

        .pricing__cta_btn {
            width: 70%;
            min-width: 187px;
        }
    }
}

.pricing__cta_title {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: $color-light;

    @include response-max($laptop-landscape) {
        font-size: 29px;
        font-weight: 700;
        line-height: 35.1px;
        text-align: center;
        margin-bottom: 24px;

        span {
            @include font-style-transparent;
        }
    }
}