.testimonials {
    .head {
        z-index: 1;
        position: relative;
    }

    .swiper__nav {
        margin-top: 0;
    }
}

.testimonials__slider {
    height: 320px;

    .swiper-wrapper {
        align-items: center;
        margin-left: -16px;
    }
}

.testimonial__body {
    padding: 16px 16px 24px;
    background: linear-gradient(135deg, #262626 100%, #737373 100%);
    transition: $transition;

    svg {
        width: 13px;
        height: 13px;
        margin-bottom: 16px;
    }

    @include response-max($mobile) {
        padding-bottom: 16px;
    }
}

.testimonial__card {
    width: 292px;
    height: auto;
    border-radius: 16px;
    overflow: hidden;
    transition: $transition;
    transform: scale3d(0.9, 0.9, 1) !important;

    &.swiper-slide-active {
        transform: scale3d(1.0, 1.0, 1) !important;
        margin: 0 16px;

        .testimonial__body {
            background: linear-gradient(148.73deg, #7059FF 1.16%, #7B41C4 99.16%);
        }
    }
}

.testimonial__text {
    margin-bottom: 16px;
    color: rgba(234, 234, 234, 1);
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;

    @include response-max($mobile) {
        font-size: 15px;
    }
}

.testimonial__author {
    display: flex;
    column-gap: 8px;
}

.testimonial__img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: $color-grey;
    padding: 2px;

    img {
        border-radius: 50%;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.testimonial__name {
    font-size: 15px;
    font-weight: 400;

    span {
        font-size: 14px;
        color: $color-grey;
        display: block;
    }

    @include response-max($mobile) {
        font-size: 18px;

        span {
            font-size: 12px;
            color: $color-light;
        }
    }
}

.testimonials_planet_img {
    position: absolute;

    &:nth-of-type(2) {
        width: 187px;
        height: 187px;
        left: calc((100% - 1180px) / 2 + 90px);
        top: 50px;
    }

    &:nth-of-type(3) {
        width: 291px;
        height: 291px;
        right: calc((100% - 1180px) / 2 + 40px);
        top: 200px;
    }

    @include response-max($laptop-landscape - 1) {
        display: none;
    }
}