[id=footer] {
    padding: 74px 0;
    background-color: rgba(18, 18, 18, 1);

    @include response-max($laptop-landscape) {
        padding: 48px 0;
    }

    * {
        color: $color-font;
    }

    a {
        @include response-min($desktop) {
            transition: $transition;

            &:not(.social__item) {
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        column-gap: 48px;
        row-gap: 16px;

        @include response-min($laptop-portrait) {
            justify-content: flex-end;
            text-align: right;
        }

        li {
            &.no-link {
                a {
                    pointer-events: none;
                }
            }

            a {
                font-size: 15px;
                font-weight: 600;
                line-height: 18px;
                padding: 0;
                text-transform: uppercase;

                background: linear-gradient(105.43deg, #7059FF 22.14%, #7B41C4 89.55%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

.footer__logo {
    max-width: 188px;
    margin-bottom: 24px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    @include response-min($laptop-portrait) {
        display: none;
    }
}

.footer__body {
    background-color: rgba(18, 18, 18, 1);
}

.footer__row {
    width: 100%;
    display: flex;
    gap: 24px;

    @include response-min($laptop-landscape - 1) {
        justify-content: space-between;
    }

    @include response-max($laptop-landscape) {
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
    }
}

.footer__col {
    width: 100%;

    & > * {
        &:not(:last-child) {
            margin-bottom: 46px;

            @include response-max($laptop-portrait) {
                margin-bottom: 24px;
            }
        }
    }

    @include response-max($mobile) {
        &:last-child {
            display: flex;
            flex-direction: column;

            .socials {
                margin-bottom: 0;

                & + div {
                    order: -1;
                    margin-bottom: 24px;
                }
            }
        }
    }
}

.socials {
    display: flex;
    gap: 24px;

    @include response-min($laptop-landscape - 1) {
        justify-content: flex-end;
    }

    @include response-max($laptop-landscape) {
        justify-content: center;
        width: 100%;
    }

    @include response-max($mobile) {
        justify-content: space-between;
    }
}

.social__item {
    width: 48px;
    height: 48px;
    position: relative;
    z-index: 2;
    background-color: rgba(227, 227, 227, 1);
    border-radius: 50%;
    display: flex;
    @include pointer;

    .social__item_icon {
        width: 18px;
        height: 18px;
        z-index: 2;
        margin: auto;
        transition: $transition;
    }

    .social__item_bg {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transition: $transition;
    }

    @include response-min($desktop) {
        &:hover {
            .social__item_bg {
                opacity: 1;
            }

            .social__item_icon {
                filter: brightness(0) invert(1);
            }
        }
    }

    @include response-max($laptop-landscape) {
        .social__item_bg {
            opacity: 1;
        }

        .social__item_icon {
            filter: brightness(0) invert(1);
        }
    }
}

.footer__company_info {
    display: flex;
    column-gap: 32px;
    row-gap: 16px;

    & > * {
        white-space: nowrap;
    }

    strong {
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 4px;
    }

    a {
        font-size: 15px;
        font-weight: 600;
        line-height: 18px;
        text-transform: uppercase;
        display: block;

        background: linear-gradient(105.43deg, #7059FF 22.14%, #7B41C4 89.55%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    @include response-max($mobile) {
        flex-direction: column;
        row-gap: 24px;
    }
}

.footer__img {
    @include response-min($laptop-portrait) {
        height: 52px;

        img {
            object-fit: contain;
            width: auto;
        }
    }

    @include response-max($mobile) {
        max-width: 210px;
    }
}