*, :after, :before {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-size: 10px;
    background: rgba(1, 0, 8, 1);
    @include scrollbar;
}

body {
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    color: $color-light;
    font-style: normal;
    line-height: normal;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;

    &.home {
        background-color: $color-bg-light;
    }

    &:not(.home) {
        background-color: #000;
    }

    &.main_bg {
        background: url('../img/bg-stars.png') center / cover repeat;

        .cta {
            background: unset;
        }
    }

    @media (max-width: $mobile) {
        font-size: 1.6rem;
    }
}

a {
    text-decoration: none;
    color: $color-light;
    transition: $transition;
}

p {
    margin: 0 0 5px 0;
}

input,
button {
    font-family: inherit;
}

h1,
h2,
h3,
.bold {
    margin: 0 0 15px;
    font-weight: 600;
    line-height: normal;
}

h1 {
    font-size: 70px;
    line-height: normal;
    font-weight: 800;
    margin-bottom: 35px;

    @include response-max($mobile) {
        font-size: 32px;
        margin-bottom: 24px;
    }
}

h2 {
    font-size: 50px;
    line-height: normal;
    font-weight: 800;

    @media (max-width: $mobile) {
        font-size: 29px;
    }
}

h3 {
    font-size: 22px;

    @media (max-width: $mobile) {
        font-size: 20px;
    }
}

.title {
    @extend h2;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: $color-theme;

    @include response-min($laptop-portrait) {
        font-size: 38px;
    }

    span {
        @include font-style-transparent;
    }
}

.subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: $color-dark-light;
    margin-bottom: 32px;

    @include response-max($mobile) {
        margin-bottom: 32px;
        font-size: 15px;
    }
}

img {
    width: 100%;
    height: 100%;
    object-position: center;
}

.logo {
    max-height: 17px;
    flex-shrink: 0;

    img {
        @extend .contain;
    }
}

.contain {
    object-fit: contain;
}

.cover {
    object-fit: cover;
}

.background {
    background-repeat: no-repeat;
    background-position: center;
}

.bg-contain {
    @extend .background;
    background-size: contain;
}

.bg-cover {
    @extend .background;
    background-size: cover;
}

.logo {
    @extend .contain;
}

@include response-max($laptop-portrait) {
    #wpadminbar {
        display: none;
    }
}

.container {
    max-width: 1304px;
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
}

.container-left {
    padding-left: 32px;
    width: 100%;

    @include response-min(1363px) {
        margin-left: calc((100% - 1304px) / 2);
    }
}

.no-container {
    width: 100%;
    padding: 0 32px;
}

.head {
    max-width: 630px;
    margin-bottom: 32px;
    position: relative;

    &.white_theme {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    @include response-max($laptop-landscape - 1) {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    @include response-max($mobile) {
        margin-bottom: 32px;
    }
}

.white_theme {
    .title, .subtitle {
        color: $color-light;
    }
}

.bg_light {
    background-color: $color-bg-light;
}

section {
    padding: 128px 0;
    position: relative;

    @include response-max($laptop-landscape) {
        padding: 64px 0;

        &:first-child {
            padding-top: 128px;
        }
    }
}

.main {
    flex-grow: 1;
}

.pointer {
    @include response-min($desktop) {
        cursor: pointer;
    }
}

.event-none {
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.d-block {
    display: block;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
    align-items: center;
}

.d-flex-center {
    @extend .d-flex;
    justify-content: center;
}

.d-flex-column {
    @extend .d-flex;
    flex-direction: column;
}

._spinner {
    pointer-events: none;
    position: relative;
}

._spinner:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    backdrop-filter: blur(2px);
    min-height: 500px;
}

._spinner:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url('../img/preloader.gif') center / contain no-repeat;
    width: 50px;
    height: 50px;
    z-index: 100;
}

.btn {
    box-shadow: $box-shadow;
    display: inline-block;
    color: $color-light;
    font-size: 16px;
    line-height: 1;
    white-space: nowrap;
    font-weight: 500;
    text-align: center;
    padding: 16px 25px;
    position: relative;
    border: 1px solid transparent;
    border-radius: 24px;
    transition: $transition;
    text-transform: uppercase;
    min-width: 187px;
    text-decoration: none;
    outline: none;
    overflow: hidden;

    span {
        z-index: 2;
        position: relative;
        line-height: 1;
        white-space: nowrap;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: $transition;
        z-index: 1;
    }

    &.disabled, &[disabled] {
        background: #D1D1D0;
        color: #BABABA;
        pointer-events: none;
    }

    @include response-min($desktop) {
        cursor: pointer;

        &:hover, &:focus {
            outline: none;

            &:after {
                opacity: 1;
            }
        }

        &:focus, &:active {
            border: 1px solid $color-theme;
            background: linear-gradient(149deg, #F9F9F9 1.16%, #E6E6E6 99.16%);
            backdrop-filter: blur(100px);
            color: $color-theme;
        }
    }

    @include response-max($mobile) {
        max-width: 100%;
        min-width: 100%;
        width: 100%;
    }
}

.btn_primary {
    @extend .btn;
    background: linear-gradient(105.43deg, #7059FF 22.14%, #7B41C4 89.55%);

    &:after {
        background: $color-btn-hover;
    }

    @include response-min($desktop) {
        &:hover {
            color: $color-theme;
            border-color: $color-btn-hover;
        }
    }
}

.btn_light {
    @extend .btn;

    background: $color-light;
    border-color: $color-light;
    color: $color-theme;
    font-weight: 600;

    @include response-min($desktop) {
        &:hover {
            color: $color-theme;
            border-color: $color-btn-hover;
            background: $color-btn-hover;
        }
    }
}

.btn_dark {
    @extend .btn;

    background: $color-dark;
    border-color: $color-dark;
    color: $color-light;
    font-weight: 600;

    @include response-min($desktop) {
        &:hover {
            color: $color-theme !important;
            border-color: $color-theme !important;
            background: $color-light !important;
        }
    }
}

.breadcrumbs {
    margin-bottom: 20px;

    & > span {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 21px;
        row-gap: 10px;

        span {
            font-size: 24px;
            line-height: 1;

            a {
                color: rgba(255, 255, 255, 0.3);
            }

            @include response-max($mobile) {
                font-size: 20px;
            }
        }

        i {
            font-style: normal;
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 6px solid rgba(255, 255, 255, 0.3);
            border-right: 0;
            margin-bottom: 3px;
        }

        @include response-max($mobile) {
            column-gap: 21px;
        }
    }
}

.articles_slider {
    margin: 0 -16px;

    @include response-max(1319px) {
        margin: 0 -6px;
    }

    .article {
        width: 100%;

        @include response-min(1320px) {
            margin: 0 16px;
            max-width: calc(100% / 4 - 32px);
        }

        @include response-max(1319px) {
            margin: 0 6px;
            max-width: 296px;
        }
    }
}

@include response-max(1319px) {
    .articles_slider_wrap {
        margin: 0 -32px;

        .articles_slider {
            padding: 0 32px;
        }
    }
}

.text_block {
    @include text-block;
}

.table__wrap {
    overflow-x: auto;
    margin-right: -32px;
    padding-right: 32px;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.3);
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: #fff;
        border-radius: 4px;
    }
}

.table {
    border-radius: 16px;
    width: 100%;
    margin: 0 0 40px;
    box-shadow: 0 4px 16px 0 rgba(26, 3, 48, 0.25);
    background: linear-gradient(149deg, rgba(101, 101, 101, 0.20) 0%, rgba(37, 37, 37, 0.20) 100%);
    backdrop-filter: blur(87px);
    border: 1px solid #313131;
    min-width: 800px;

    .table__row {
        display: flex;
        padding: 0 100px;
        transition: $transition;

        @include response-max(1250px) {
            padding: 0 32px;
        }
    }

    .table__footer {
        padding: 20px 16px;
        display: flex;

        span {
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 600;
        }
    }

    .table__show_more {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 16px;
        text-transform: uppercase;

        svg {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            transition: $transition;
        }
    }

    .table__cell {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        padding: 20px 0;
        display: flex;
        align-items: center;
        column-gap: 10px;

        @include response-min($laptop-landscape) {
            width: 25%;
        }

        @include response-max($laptop-landscape - 1) {
            &:nth-child(1) {
                flex-basis: 20%;
            }

            &:nth-child(2) {
                flex-basis: 25%;
            }

            &:nth-child(3) {
                flex-basis: 30%;
            }

            &:nth-child(4) {
                flex-basis: 25%;
            }
        }
    }

    .table__head {
        border-bottom: 1px solid #333;

        .table__cell {
            padding: 22px 0;
        }
    }

    .table__body {
        .table__row {
            &:not(:last-child) {
                border-bottom: 1px solid #333;
            }

            @include response-min($desktop) {
                &:hover {
                    background: rgba(108, 108, 114, 0.35);
                }
            }
        }

        .table__cell {
            padding: 8px 0;
            min-height: 56px;

            &:nth-child(3) {
                border-left: 1px solid #333;
            }

            &:not(:last-child) {
                padding-right: 10px;
            }
        }
    }
}

.table__img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: rgba(235, 235, 240, 1);
    display: flex;

    img {
        width: 70%;
        height: 70%;
        object-fit: contain;
        margin: auto;
    }
}

.traffic__row {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.traffic__links_progress {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 65px;
    width: 100%;

    span {
        background: rgba(235, 235, 240, 1);
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
        color: $color-dark-light;
        padding: 8px 16px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100%;
    }
}

.traffic__range {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: $color-grey;
}

.section_bg {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
}

.slider_wrapper {
    @include response-max($laptop-landscape) {
        padding: 0;

        .swiper {
            padding: 0 32px;
        }
    }
}

.swiper-pagination-bullets {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    margin: 64px 0 0;
    position: relative;

    @include response-max($mobile) {
        margin-top: 32px;
    }
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;

    &.swiper-pagination-bullet-active {
        background: linear-gradient(148.73deg, #7059FF 1.16%, #7B41C4 99.16%);
    }

    &:not(.swiper-pagination-bullet-active) {
        background: linear-gradient(148.73deg, rgba(217, 217, 217, 1) 1.16%, rgba(115, 115, 115, 1) 99.16%);
    }
}

.swiper__nav {
    display: flex;
    justify-content: center;
    margin: 64px 0 0;
    column-gap: 24px;
    position: relative;
    z-index: 1;

    @include response-max($laptop-landscape - 1) {
        margin-top: 44px;
    }
}

.swiper__nav_item {
    width: 48px;
    height: 48px;

    svg {
        transition: $transition;
    }

    @include pointer;

    @include response-min($desktop) {
        &:hover {
            svg {
                transform: scale(0.95);
                opacity: 0.9;
            }
        }
    }
}

.mob_ver {
    @include response-min($laptop-landscape) {
        display: none !important;
    }
}

.desk_ver {
    @include response-max($laptop-landscape - 1) {
        display: none !important;
    }
}

section.hero {
    position: relative;
    background-color: #000;

    .title {
        font-size: 38px;
        text-transform: uppercase;
        margin-bottom: 32px;

        @include response-max($laptop-portrait) {
            font-size: 32px;
            margin-bottom: 16px;
        }
    }

    .subtitle {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 0;

        @include response-max($laptop-portrait) {
            font-size: 15px;
        }
    }

    .hero__body {
        position: relative;
        padding: 60px 0 0;

        @include response-min($laptop-landscape) {
            max-width: 714px;
        }

        @include response-max($laptop-portrait) {
            text-align: center;
            padding-top: 0;
        }
    }
}

.card_simple__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.pagination-container {
    margin: 50px 0;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    font-size: 22px;

    .next, .prev {
        width: 25px;
        height: 25px;
        display: flex;
        border-radius: 50%;
        background-color: $color-bg-light;
        transition: $transition;

        svg {
            width: 15px;
            height: 15px;
            margin: auto;
        }
    }

    a {
        transition: $transition;

        @include response-min($desktop) {
            &:hover {
                opacity: 0.7;
            }
        }
    }
    
    .current {
        text-decoration: underline;
    }
}

.copy_url {
    position: relative;
    @include pointer;

    span {
        opacity: 0;
        transition: $transition;
        position: absolute;
        left: 50%;
        top: calc(100% + 3px);
        transform: translateX(-50%);
        background-color: $color-light;
        border-radius: 3px;
        padding: 4px 6px;
        color: $color-dark;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 1;
        font-weight: 500;
        z-index: 1;
    }

    &.active {
        pointer-events: none;

        span {
            opacity: 1;
        }
    }
}

.similar_posts {
    .card_simple {
        height: auto;
        background: linear-gradient(125deg, #F3F3F3 0%, #EFEFEF 100%);
    }

    .card_simple__img {
        height: 260px;
    }

    @include response-min($laptop-portrait) {
        .card_simple {
            width: 395px;
            min-height: 499px;
        }
    }
}

.similar_posts__title {
    text-align: center;
    color: #EBEBF0;
    font-size: 52px;
    text-transform: uppercase;
    margin-bottom: 64px;

    @include response-max($laptop-portrait) {
        font-size: 29px;
        margin-bottom: 24px;
    }
}