@mixin response-max($size) {
    @media only screen and (max-width: $size) {
        @content;
    }
}

@mixin response-min($size) {
    @media only screen and (min-width: $size) {
        @content;
    }
}

@mixin response-range($min, $max) {
    @media only screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}

@mixin flex-center()
{
    display: flex;
    align-items: center;
}

@mixin pointer() {
    @include response-min($desktop) {
        cursor: pointer;
    }
}

@mixin line-break($rows) {
    -webkit-line-clamp: $rows;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    word-break: keep-all;
    display: -webkit-box;
}

@mixin scrollbar {
    overflow-x: auto;

    &::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    &::-webkit-scrollbar-track {
        background: rgba(33,12,66,.9);
    }

    &::-webkit-scrollbar-thumb {
        background: #fff;
    }
}

@mixin text-block() {
    h2 {
        margin-bottom: 16px;

        @include response-max($mobile) {
            font-size: 22px;
            line-height: 24.2px;
        }
    }

    h3 {
        margin: 32px 0 16px;
    }

    h3, h4, h5, h6 {
        font-weight: 500;
    }

    p {
        font-size: 18px;
        font-weight: 300;
        line-height: 25.2px;

        &:not(:last-child) {
            margin-bottom: 24px;

            @include response-max($mobile) {
                margin-bottom: 16px;
            }
        }

        @include response-max($mobile) {
            font-size: 16px;
            line-height: 22.4px;
        }

        a {
            text-decoration: underline;
        }
    }

    img {
        width: auto;
        object-fit: contain;
        border-radius: 12px;
    }

    figure {
        margin: 48px 0;
    }

    ol, ul {
        margin: 16px 0;

        li {
            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }

    ol {
        padding-left: 17px;
    }

    ul {
        padding-left: 0;

        li {
            position: relative;
            padding-left: 24px;
            list-style: none;

            &:after, &:before {
                content: '';
                position: absolute;
                top: calc(50% - 2px);
                transform: translateY(-50%);
                border-radius: 50%;
            }

            &:after {
                left: 3px;
                width: 6px;
                height: 6px;
                background-color: #fff;
            }

            &:before {
                left: 0;
                width: 12px;
                height: 12px;
                border: 1px solid #fff;
            }
        }
    }

    @include response-max($mobile) {
        iframe {
            width: 100% !important;
            max-width: 100% !important;
            min-width: 100% !important;
        }
    }
}

@mixin font-color-main() {
    background: linear-gradient(105.43deg, #7059FF 22.14%, #7B41C4 89.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin font-style-transparent()
{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
}

@mixin hide-scrollbar()
{
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}