$color-theme: #7B41C4;
$color-btn-hover: rgba(253, 185, 39, 1);
$color-main-hover: '';

$color-light: rgba(255, 255, 255, 1);
$color-dark: rgba(18, 18, 18, 1);
$color-dark-light: rgba(54, 54, 56, 1);
$color-grey: rgba(146, 146, 150, 1);
$color-secondary: rgba(255, 255, 255, 0.7);
$color-bg-light: rgba(242, 242, 242, 1);

$box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);

$transition: 0.3s ease-in-out;

$container: 1180px;

$laptop-landscape: 1024px;
$desktop: 1025px;
$laptop-portrait: 768px;
$mobile: 767px;
$header-responsive: 1250px;