.case_studies {
    background: $color-dark;
    position: relative;
    overflow: hidden;

    .container {
        position: relative;
        z-index: 1;
    }
}

.case_studies__bg_bottom {
    max-width: 945px;
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    object-fit: contain;
    height: auto;
}

.case_studies__subtitle {
    margin-bottom: 32px;
}

.case_studies__btn {
    @include response-min($desktop) {
        padding: 10px 15px;
        font-size: 14px;
    }

    @include response-max($mobile) {
        display: none;
    }
}