.hero_section {
    position: relative;
    overflow: hidden;
    height: 100vh;

    @include response-min($desktop) {
        min-height: 1024px;
    }

    .container {
        position: relative;


        @include response-max($laptop-portrait) {
            height: 100%;
        }
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 425px;
        background: linear-gradient(0deg, #121212 0%, rgba(18, 18, 18, 0.00) 100%);
        z-index: 2;
    }

    @include response-max($mobile) {
        padding-bottom: 40px;
    }
}

.hero__content {
    position: relative;
    margin: 0 auto;
    z-index: 3;
    text-align: center;
    padding-top: 20vh;

    & > *:not(:last-child) {
        margin-bottom: 32px;

        @include response-max($laptop-portrait) {
            margin-bottom: 16px;
        }
    }

    @include response-max($laptop-portrait) {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    @include response-max($mobile) {
        .hero__btn {
            width: 100%;
        }
    }
}

.hero__images {
    img {
        width: auto;
        height: auto;
        object-fit: contain;
    }

    .hero__bg_earth {
        position: absolute;
        width: 100%;
        left: 0;
        z-index: 1;
        object-fit: cover;
        bottom: 0;

        @include response-min($laptop-landscape) {
            transform: translateY(58%);
        }

        @include response-max($laptop-landscape - 1) {
            bottom: 60px;
        }
    }

    .hero__bg_fly_left {
        @include response-min($header-responsive + 1) {
            position: absolute;
            left: 40px;
            top: 0;
            width: 110px;
            object-fit: contain;
        }

        @include response-max($header-responsive) {
            display: none;
        }
    }

    .hero__bg_fly_right {
        @include response-min($header-responsive + 1) {
            position: absolute;
            right: 20px;
            top: 150px;
            width: 150px;
            object-fit: contain;
        }

        @include response-max($header-responsive) {
            display: none;
        }
    }
}

.hero__bg_spaceman {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    z-index: 2;
    width: 620px;
    height: 940px;

    @include response-max($laptop-landscape - 1) {
        bottom: unset;
        top: 70px;
        min-width: 487px;
        height: 410px;
        transform: translateX(-50%);
        left: 50%;
    }
}

.hero__spaceman {
    object-fit: contain;
}

.hero__spaceman_cable_left, .hero__spaceman_cable_right {
    position: absolute;
    animation: shining 3s infinite;
    width: auto;
    height: 56%;
    z-index: 2;
    object-fit: contain;
    top: 54%;

    @include response-max($laptop-landscape - 1) {
        height: 70%;
        top: 53%;
    }
}

.hero__spaceman_cable_left {
    left: -29%;

    @include response-max($laptop-landscape - 1) {
        left: 10%;
    }
}

.hero__spaceman_cable_right {
    left: 89.5%;
    top: 53%;

    @include response-max($laptop-landscape - 1) {
        left: 68.5%;
    }
}

.hero__title {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    font-size: 64px;
    font-weight: 800;
    line-height: 77px;
    text-transform: uppercase;

    span {
        @include font-style-transparent;
    }

    @include response-max($laptop-portrait) {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 16px !important;
    }

    @include response-max($mobile) {
        margin-left: -6px;
        margin-right: -6px;
    }
}

.hero__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    max-width: 604px;
    margin-left: auto;
    margin-right: auto;

    @include response-max($laptop-portrait) {
        font-size: 15px;
        margin-bottom: 32px !important;
    }
}

.hero__subtitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    margin-top: 30px;
    text-transform: uppercase;

    @include response-min($desktop) {
        opacity: 0.5;
    }

    @include response-max($laptop-portrait) {
        margin-top: auto;
    }
}

.hero__partners {
    display: flex;
    justify-content: space-around;
    column-gap: 38px;
    row-gap: 15px;
    flex-wrap: wrap;

    img {
        object-fit: contain;
    }

    @include response-max($mobile) {
        column-gap: 22px;
    }
}

.hero__partner {
    @include response-min($desktop) {
        opacity: 0.7;
    }

    @include response-max($laptop-landscape) {
        filter: brightness(0) invert(1);
    }

    @include response-max($laptop-portrait) {
        width: calc(100% / 3 - 22px);
        max-height: 40px;
    }
}