.how_we_work {
    .card_simple__body {
        margin-top: auto;
    }

    .card_simple__img {
        position: absolute;
        top: -20%;
        z-index: 2;

        img {
            z-index: 2;
        }

        &:after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            height: 300px;
            border-radius: 50%;
            overflow: hidden;
            z-index: 1;
            box-shadow: 0 0 70px 25px rgba(119, 76, 222, 1);
        }
    }

    .card_simple {
        &:nth-child(1), &:nth-child(2) {
            .card_simple__img {
                right: -40%;
            }
        }

        &:nth-child(3), &:nth-child(4) {
            .card_simple__img {
                left: -40%;
            }
        }   
    }

    @include response-min($desktop) {
        .head {
            text-align: left;
            margin-left: 0;
        }
    }
}