.pr_service {
    .title, .subtitle {
        padding-right: 32px;
    }

    .card_simple__body {
        justify-content: flex-end;
    }

    @include response-min($laptop-landscape) {
        .head {
            text-align: left;
            margin-left: 0;
        }
    }
}

.pr_service__slider {
    .card_simple {
        height: 594px;
        @include hover-gradient(linear-gradient(105deg, rgba(112, 89, 255, 0.30) 22.14%, rgba(123, 65, 196, 0.30) 89.55%));

        .card_simple__body {
            z-index: 3;

            &:after {
                content: none !important;
            }
        }

        &:not(.wide-card) {
            max-width: 397px;

            .card_simple__img {
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }

        &.wide-card {
            max-width: 594px;

            .card_simple__img {
                width: 70%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        @include response-min($desktop) {
            &:hover {
                &:after {
                    opacity: 1;
                }
            }
        }

        @include response-max($mobile) {
            height: 394px;

            &:not(.wide-card) {
                max-width: 296px;
            }

            &.wide-card {
                max-width: 394px;
            }
        }
    }

    .card_simple__img {
        z-index: 3;

        img {
            object-fit: contain;
        }
    }
}