.pr_service {
    .title, .subtitle {
        padding-right: 32px;

        @include response-max($mobile) {
            text-align: center;
        }
    }

    .card_simple__body {
        margin-top: auto;
    }
}

.pr_service__slider {
    .card_simple {
        height: 594px;

        &:not(.wide-card) {
            max-width: 397px;

            .card_simple__img {
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }

        &.wide-card {
            max-width: 594px;

            .card_simple__img {
                width: 70%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        @include response-max($mobile) {
            height: 394px;

            &:not(.wide-card) {
                max-width: 296px;
            }

            &.wide-card {
                max-width: 394px;
            }
        }
    }

    .card_simple__img {
        z-index: 1;

        img {
            object-fit: contain;
        }
    }
}