.services {
    .section_bg {
        object-position: top;
    }

    .card_simple {
        background: $color-light;

        &:not(.full_image) {
            .card_simple__title, .card_simple__text {
                color: $color-dark-light;
            }

            .card_simple__img {
                height: 226px;

                img {
                    object-fit: cover;
                }
            }

            .card_simple__body {
                margin-top: 0;
            }
        }

        @include response-min($desktop) {
            transform: scale(1);
            transform-origin: left;
            transition: $transition;

            &:hover {
                transform: scale(1.02) !important;
            }
        }
    }
}

.services_planet_img {
    position: absolute;

    &:nth-of-type(2) {
        width: 292px;
        height: 341px;
        left: calc((100% - 1180px) / 2 - 50px);
        top: 45px;
    }

    &:nth-of-type(3) {
        width: 149px;
        height: 125px;
        right: calc((100% - 1180px) / 2);
        top: 20px;
    }

    @include response-max($laptop-landscape - 1) {
        display: none;
    }
}