.services {
    .card_simple {
        background: $color-light;

        &:not(.full-image) {
            .card_simple__title, .card_simple__text {
                color: $color-dark-light;
            }

            .card_simple__img {
                height: 226px;

                img {
                    object-fit: cover;
                }
            }

            .card_simple__body {
                margin-top: 0;
            }
        }
    }
}